setuptools==57.5.0
pyhash
accelerate
diffusers
transformers
einops
tqdm
hydra-core
numpy
torch
safetensors
imageio[ffmpeg]
gradio
matplotlib
opencv-python
torchsde
torchdiffeq
einops
tensorboard
xformers
tensorflow_hub
tensorflow
wandb
humanfriendly
peft
dm-reverb[tensorflow] 
tensorflow-datasets 
rlds
pytorch_lightning
albumentations
moviepy==1.0.3
fvcore